# Archivos de compilación y empaquetado
/target/
/build/
.mvn
*.jar
*.war
*.ear
*.class

# Archivos de configuración de IDEs
.idea/
.vscode/
*.iml
.project
.classpath
.settings/
*.ipr
*.iws

# Dependencias
.m2/
.gradle/
/out/

# Archivos de registro
*.log
logs/
*.txt

# Variables de entorno y secretos
.env
.env.development
.env.test
.env.production
.env.local
# application-dev.properties
# application-prod.properties
# application-*.yml
# application-*.properties

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties

# Gradle Wrapper
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Otros
pom.xml.versionsBackup
*.bak
*~
# Archivos de backup de editores como Vim, Emacs
*.swp
*.swo
*.swn

# Archivos de cobertura de código
/coverage/
*.exec
*.ec

# Archivos de Docker
# docker-compose.override.yml
# .dockerignore

# Archivos de configuración de Spring Boot Devtools
.spring-boot-devtools.properties